@model IEnumerable<AndromedaPatrimonio.Models.Setor>
@{
    ViewData["Title"] = "Setor";
}

<h1>Setores</h1>

<p>
    <a onclick="abreModalSetor(0)" class="btn btn-primary"><i class="fa-solid fa fa-file text-white"></i> NOVO</a>
    <div class="table-responsive" >
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.descricao)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.data_cadastro)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.descricao)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.data_cadastro)
                        </td>
                        <td>
                            <a onclick="abreModalSetor(@item.id)"><i class="fa-solid fa fa-pencil-square-o" style="font-size: 20px; color: blue"></i> Editar</a> |
                            
                            <!--Botão excluir e seu modal -->
                            <a data-toggle="modal" data-target="#myModalDeleteSetor-@item.id" style='margin-left:5px'><i class="fa-solid fa fa-trash " style="font-size: 20px; color: red"></i> Excluir</a>

                            @using (Html.BeginForm("Delete", "Setor", new { id = @item.id }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div id="myModalDeleteSetor-@item.id" data-backdrop="static" class="modal fade" role="dialog">
                                    <div class="modal-dialog ">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 style="margin-right:auto" class="modal-title"><i class="fa-solid fa fa-trash-o"></i> Delete Setor</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Você tem certeza que deseja excluir o setor: @item.id @item.descricao ?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                            <!--Fim do botão excluir e seu modal -->
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</p>