<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Andrômeda - Patrimônio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AndromedaPatrimonio.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" href="~/img/favicon.ico" type="image/x-icon">

</head>
<body>
    <header>
        <nav style="background-color: #0066CC;" class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img style="width:180px" src="~/img/logoSite2.png" />
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">DASHBOARD</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a style="color:white" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                CADASTROS
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Categoria</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Setor" asp-action="Index">Setor</a>
                                <a class="dropdown-item" href="#">Equipamento</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Outro item</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a style="color:white" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                MOVIMENTOS
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Reserva</a>
                                <a class="dropdown-item" href="#">Locação</a>
                                <a class="dropdown-item" href="#">Desapropriação</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Outro item</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a style="color:white" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                RELATÓRIOS
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Locações</a>
                                <a class="dropdown-item" href="#">Equipamentos</a>
                                <a class="dropdown-item" href="#">Desapropriações</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Outro item</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item dropdown">
                            <a style="color:white" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user"></span> @Parametros.login_usuario.ToUpper()
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" onclick="abreModalSelecionaEmpresa()"><i class="fa fa-building"></i> Seleciona Empresa</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Perfil</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-key"></i> Alterar Senha</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Sair"><i class="fa fa-sign-out"></i> Sair</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Inicio do código fonte ref. ao modal setor -->
    <div class="modal" id="ModalSetor" tabindex="-1" role="dialog">
        <div id="ModalSetorConteudo"></div>
    </div>
    <!-- Fim do código fonte ref. ao modal setor -->

    <!-- Inicio do código fonte ref. ao modal seleciona empresa -->
    <div class="modal" id="ModalSelecionaEmpresa" tabindex="-1" role="dialog">
        <div id="ModalSelecionaEmpresaConteudo"></div>
    </div>
    <!-- Fim do código fonte ref. ao modal seleciona empresa -->

    <div class="container">
        <main role="main" class="pb-3">
            @if(Parametros.id_empresa == 0)
            {
                <h4 class="glyphicon glyphicon-home"> Selecione uma empresa</h4>
            }
            else
            {
                <span class="glyphicon glyphicon-home"> </span> @Parametros.nome_empresa_completo.ToUpper()
            }
            
            @RenderBody()
        </main>
    </div>

    <footer class="fixar-rodape">
        <div class="container">
            &copy; 2023 - Andrômeda - Gestão de Patrimônio
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/siteuser/css/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/siteuser/css/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- SCRIPT REFERENTE A MASCARA -->
    <script src="~/siteuser/jquery-mask-plugin/src/jquery.mask.js"></script>
    <!-- SCRIPT REFERENTE A NOTIFICAÇÃO TOAST -->
    @await Component.InvokeAsync("Notyf")
    <script src="~/siteuser/notify/notify.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    function abreModalSetor(idSetor) {
        $.ajax({
            url: "@Url.Action("ActionModalSetor", "Setor")",
            type: "GET",
            data: {
                id: idSetor,
            },
        }).done(function (data) {
            $('#ModalSetor').modal({ backdrop: "static" });
            $('#ModalSetor').modal('show');
            $('#ModalSetorConteudo').html(data);
        });
    }
    function salvaSetor() {
        $.ajax({
            url: "@Url.Action("ActionSalvaAtualiza", "Setor")",
            type: 'POST',
            data: $("form").serialize()
        }).done(function (data) {
            $('#ModalSetor').modal('hide');
            $.notify("Setor cadastrado com sucesso!", "success");

        }).fail(function (data) {
            console.log(data.responseText);
            $.notify(data.responseText, "error");
        });
    }
    function abreModalSelecionaEmpresa() {
        $.ajax({
            url: "@Url.Action("ActionModalSelecionaEmpresa", "Home")",
            type: "GET",
        }).done(function (data) {
            $('#ModalSelecionaEmpresa').modal({ backdrop: "static" });
            $('#ModalSelecionaEmpresa').modal('show');
            $('#ModalSelecionaEmpresaConteudo').html(data);
        });
    }
    function salvaEmpresaSelecionada() {
        $.ajax({
            url: "@Url.Action("ActionEmpresaSelecionada", "Home")",
            type: 'POST',
            data: $("form").serialize()
        }).done(function (data) {
            $('#ModalSelecionaEmpresa').modal('hide');
            $.notify("Empresa selecionada com sucesso!", "success");
            location.reload();

        }).fail(function (data) {
            console.log(data.responseText);
            $.notify(data.responseText, "error");
        });
    }
</script>